/* Services Section */
.services {
    text-align: center;
    padding: 60px 20px;
    background-color: #ffffff;
  }
  
  .services h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
  }
  
  .card {
    background: #ffffff;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
  }
  
  .icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }